

/* my part bihhhhhh */


.Type__TypeElement-goli3j-0 ebHsEf main-trackList-rowPlayCount {
    background-color: rgba(0,0,0,0);
}

.Type__TypeElement-goli3j-0 iCAgWT main-trackList-playsHeader {
    background-color: rgba(0,0,0,0);
}

.main-entityHeader-detailsText {
    background-color: rgba(0,0,0,0);
}

.Type__TypeElement-goli3j-0 fyWveH {
    background-color: rgba(0,0,0,0);
}


/* update */

.main-trackList-rowPlayCount {
    opacity: 0 !important;
}

.main-trackList-playsHeader {
    opacity: 0 !important;
}

.main-entityHeader-detailsText {
    opacity: 0 !important;
}

.lpjVdv {
    opacity: 0 !important;
}

.fyWveH {
    opacity: 0 !important;
}

/*.ebHsEf {
    opacity: 0 !important;
}*/

.fWIEhj {
    opacity: 0 !important;
}

.ndIZG_atdpv_tBZtqQhk {
    opacity: 0 !important;
}